* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 80px;
}
main{
    background-color: black;
    height: calc(100vh - 140px);
    overflow: scroll;
}
footer{
    background-color: #222222;
    height: 60px;
}

.container{
    border: 1px solid transparent;
}
.container_header{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 15px;
}
.container_main{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container_footer{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}

.imagine{
    display: block;
    margin: 3px;
}

.box{
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.box_icon{
    border: 1px solid transparent;
    display: block;
    text-align: center;
    font-size: 25px;
}
.box_inside_imagine{
    border: 1px solid transparent;
    background-color: #65717e;
    width: 96px;
    position: relative;
    bottom: 18px;
    color: white;
    font-size: 10px;
}

.btn{
    border: 1px solid transparent;
    display: flex;
    padding: 5px;
}
.btn_header{
    border-radius: 10px;
    background-color: grey;
    color: white;
}
.btn_footer{
    background-color: #4a4a4a;
    color: red;
    text-align: center;
    padding-top: 15px;
}

.freccia_su{
    margin-top: 10px;
}

i {
    color: white;
}

.txt{
    color: white;
    font-size: 18px;
}